@import '../utilities/mixins.scss';

.img-fluid:hover {
    animation-name: shadow-drop-2-center;
    animation-duration: 0.4s;
    animation-fill-mode: forwards; /* Sin esto la animacion no se queda en el estado final*/
  }
  
  .shadow-drop-2-center {
    -webkit-animation: shadow-drop-2-center 0.4s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @keyframes shadow-drop-2-center {
    0% {
      @include tranformZ(0);
      @include box-shadow(0, 0);
    }
    100% {
      @include tranformZ(50);
      @include box-shadow(20, 0.35);
    }
  }